@import "../../static/css/common";

.edit_box{
  @include content_flex;
  .content{
    padding: 20px 30px;
    .wrapper{
      background-color: #fff;
      border-radius: 10px;
      padding: 0 20px;
      .item{
        color: rgba($grey, 0.5);
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 86px;
        &:not(:last-child){
          @include border-1px(rgba($grey, 0.1));
        }
        input,.special{
          flex: 1;
          color: $grey;
          border: 0;
        }
        span{
          width: 160px;
        }
      }
    }
    .btn{
      margin: 80px auto 0;
      width: 690px;
      height: 108px;
      text-align: center;
      line-height: 108px;
      background-color: #fff;
      color: $green;
      border-radius: 10px;
    }
  }
}